<html>
        <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                <link rel="stylesheet" href="style.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
              </head>
    <body>
     
                                          
                        <div class="container-fluid text-center box" style="height:650">
                                        <div class ="blue container-fluid">
                                          <a href="/main"> <img src="es.png" class="img-fluid slide slideInUp" ></a> </div>
                                        <div class="edit slide slideInDown">      
       
                                          <p class="comment2">Add Patient:</p>
                    
            <form action="/add" method="POST">
             
              <div class="form-group">
               
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" style="text-transform:capitalize">
                
              </div>
              <div class="form-group">
          
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" style="text-transform:capitalize">
              
            </div>
                      <div class="form-group">
                       
                        <input type="date" class="form-control" id="date" name="date" placeholder="Date">
                      </div>
                      <div class="form-group">
                          
                            <textarea class="form-control" id="details" name="details" placeholder="Enter Description" rows="3" style="overflow-y:scroll"></textarea>
                          </div>
                          
                      <button type="submit" class="btn btn-primary submit">Submit</button>
               
                 </form>
                 <a class="btn back_btn" href="/main">Back</a>
                 <p class="alert alert-<%=status%>" role="alert" style="display:<%=alert%>"><%=msg%></p>

            </div> 
            </div> 
    </body>
</html> 