<html>
    <head></head>
    <body>
        
            <h2 id='name'><%=name%></h2>
        
        <% if (data.length>0){%>
            <%  for( i=0; i<pics.length; i++){ %>
                <p class="text"><%=date[i]%><%=pics[i]%></p>
             <% } %>
             <% } %>
             
       
          <!--  <input type="text" name="text"> -->
    <button >Add record</button>
    <button id="update">Update</button>
    <button id="delete">Delete</button>
             <script src="main2.js"></script>
    </body>
</html>