<html>
    <head></head>
    <body>
        <p>Logged in as <%=names%></p>
        <form action="/add" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="date" name="date">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
         </form>
    <button id="update">Update</button>
    <button id="update">Update</button>
    <button id="delete">Delete</button>
             <script src="main.js"></script>
    </body>
</html>